.post_body {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
}

.post_body ul {
  margin: .5rem 0 1rem 0;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
}

.post_body li {
  background-color: #fff;
  line-height: 1.5em;
  padding: 10px 20px;
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
}

.post_body img {
  width: 80%;
  display: block;
  margin: auto;

}

.post_intro {
  font-size: 0.8em;
  font-style: italic;


  color: grey;
}
.post_refs {
  font-size: 0.8em;
  color: #113c;
  
}

.image-caption {
  font-size: smaller;
  font-weight: 500;
  color: #002e;
  display: block;
  text-align: center;
}

summary {
  cursor: pointer;
}
details p {
  margin-top: 0px;
  margin-bottom: 0px;

}

.footnotes {
  font-size: 0.65em;
  color: #113c;
}
.footnotes a {
  color: #113c;
}
.footnotes li {
  border: none;
  padding: 0px 4px;
}
.footnotes-list {
  margin-top: 0px;
  padding-left: 1.1em;
}
.footnotes-sep {
  margin-top: 6em;
  margin-bottom: 0px;
}
.footnotes p {
  margin-top: 5px;
  margin-bottom: 0px;
}
.footnotes li:first-child p {
  margin-top: 14px;
}